{% load static %}


<div class="header-container">

    <input type='checkbox' id='toggle' style='display:none;' />
    <label class='toggle-btn toggle-btn__cross' for='toggle'>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </label>
    <a href="{% url 'home' %}" class="logo" target="_blank">
        <div class="logo-container logo-container-3d logo-neon logo-particles">
            <div class="logo-text">
                <span class="logo-letter logo-s logo-text-wave logo-glitch" data-text="S">S</span>
                <span class="logo-word logo-text-wave">a</span>
                <span class="logo-word logo-text-wave">c</span>
                <span class="logo-word logo-text-wave">h</span>
                <span class="logo-word logo-text-wave">i</span>
                <span class="logo-word logo-text-wave">n</span>
                <span class="logo-letter logo-g logo-text-wave logo-glitch" data-text="G">G</span>
                <span class="logo-word logo-text-wave">o</span>
                <span class="logo-word logo-text-wave">y</span>
                <span class="logo-word logo-text-wave">a</span>
                <span class="logo-word logo-text-wave">l</span>
            </div>
        </div>
    </a>
    <nav class="nav navbar" style="top: 0%; position: fixed;">
        <ul class="pt-5 nav-links">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume' %}">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}">My_Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>
</div>