{% extends 'base.html' %}

{% block content %}


   <!-- ... Privacy-Policy Section Start ... -->
   <section id="privacy-policy">
    <div class="container">
        <h2>Privacy Policy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, libero a dignissim dictum, nunc justo semper tortor, nec ullamcorper urna massa at est.</p>
        <a href="privacy-policy.html" class="btn">Read More</a>
    </div>
</section>
<!-- ... Privacy-Policy Section End ... -->



{% endblock content %}