/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900); */

/* Reset some default styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Gudea", sans-serif;
  font-weight: normal;
  text-decoration: none;
  /* border: 1px solid red; */
}

/* Set base font size */
html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

:root {
  --scrollbar-width: 5px;
  --scrollbar-track: #333333;
  --scrollbar-track-color: #ffffff;
  --scrollbar-thumb-color: #ff6e0e;
  /* Adjusted scrollbar thumb color */
  --scrollbar-thumb-hover-color: #ff4c00;
  /* Adjusted scrollbar thumb hover color */
  --scrollbar-thumb-color: #f5f5f5;
  /* (light gray) */
  --scrollbar-thumb-hover-color: #2196f3;
  /* (material blue) */
}

/* Primary Color */
:root {
  --font-size: 16px;
  --body-font-size: 15px;
  --body-font-weight: 300;
  --body-font-family: "Roboto", "Helvetica", "Open Sans", "Montserrat", Arial,
    sans-serif;
  --primary-color-1: #f9f9f9;
  /* Light background color */
  --primary-color-2: #1a1b23;
  /* Dark background color */
  /* --primary-color-3: #1f2029; */
  --primary-color-3: #ffffff;
  /* Body and fix-header color */
  --primary-color-4: #333333;
  --primary-color-4: #ffffff;
  /* Main color */
  /* --primary-color-5: #00000099; */
  --primary-color-5: #ecf0f1;
  /* Container color */
  --primary-color-6: #ffffff;
  /* box-items */
  --primary-color-7: #3498db;
  /*  */
  --primary-color-8: #2ecc71;
  /*  */
  --primary-color-9: #e74c3c;
  /*  */
  --primary-item-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* box-items-shadow */
}

/* Secondary Colors */
:root {
  --secondary-color-white: #ffffff;
  /* White color for contrast */
  --secondary-color-white-1: #dddddd;
  /* Information background color */
  /* Information border color and tab-link background color */

  --secondary-color-1-2: #666666;
  /* H1 and H2 fill and stroke color */
  --secondary-color-1: #212121;
  /* H1 color */
  --secondary-color-2: #444444;
  /* H2 color */
  --secondary-color-3: #28a745;
  /* H3 color */
  --secondary-color-4: #757575;
  /* H4 color */
  --secondary-color-5: #757575;
  /* H5 color */
  --secondary-color-6: #757575;
  /* H6 color */
  --secondary-color-7: #8739fa;
  /* Paragraph color */

  --secondary-color-8: #007bff;
  /* Button color */
  --secondary-color-9: #0056b3;
  /* Button hover color */
  --secondary-color-10: #2196f3;
  /* Span color */
  --secondary-color-11: #ffb74d;
  /* Span active color */

  --secondary-color-12: #333333;
  /* a color */
  --secondary-color-13: #00ffb3;
  /*  */
  --secondary-color-14: #00ffb3;
  /*  */
  --secondary-color-15: #00ffdd;
  /*  */

  --secondary-color-16: #f0f0f0;
  /* Skill progress color */
  --secondary-color-17: #45a049;
  /* Contact form group button color */
  --secondary-color-18: #4e4e4e;
  /* service-icon */
  --secondary-color-19: #00000010;
  /* service-content */

  /* --secondary-color-: #3700ff;
  --secondary-color-: #ffd166;
  --secondary-color-: #722bf3c7;
  --secondary-color-: #ff8651;
  --secondary-color-: #3f5bff;
  --secondary-color-: #f7bad0;
  --secondary-color-: #00dd8d;

  color: rgb(144, 41, 114);
  color: rgb(15, 176, 220);
  color: rgb(229, 199, 197);
  color: rgb(219, 208, 206);
  color: rgb(215, 32, 46);
  color: rgb(160, 4, 40);
  color: rgb(0, 39, 120);
  color: rgb(181, 26, 74);
  color: rgb(233, 236, 245); */
}

/* shodows Colors */
:root {
  --secondary-color-20: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Images shadow color */
  --secondary-color-21: 0 0 20px rgba(0, 0, 0, 0.1);
  --secondary-color-22: 0 2px 4px rgba(0, 0, 0, 0.1);

  --secondary-color-23: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* */
  --secondary-color-24: rgba(114, 43, 243, 0.78);
  /* */
  --secondary-color-25: 0 0 20px rgba(0, 0, 0, 0.5);
  /* */

  --secondary-color-26: rgba(0, 0, 0, 0.5);
  /* Image overlay color */
  --secondary-color-27: #007bff7a;
  --secondary-color-28: #ffffff;

  --secondary-color-29: rgba(0, 0, 0, 0.1);
  /* */
  --secondary-color-30: rgba(0, 0, 0, 0.3);
  /* */
  --secondary-color-31: rgba(0, 0, 0, 0.5);
  /* */

  --secondary-color-32: #b400ff;
  --secondary-color-33: #ffffff10;
}

/* button Colors */
:root {}

/* Text Colors */
:root {}

/* Body styles */
body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  background-color: var(--primary-color-3);
  color: #f6f6f6;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-blend-mode: screen;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 1s ease-in-out, background-image 0.5s ease-in-out,
    all 0.3s linear;
  line-height: 1.6;
}

/* Pseudo-element for a fixed background */
body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
  /* Set your background image here */
  /* background-image: url('your-background-image.jpg'); */
  background-size: cover;
}

body.opacity-0 {
  opacity: 1;
}

/* Customize and add more styles as needed */
/* home Section Styles START */
.header-container {
  position: fixed;
  box-shadow: 0 0 1px rgb(0, 0, 0);
  /* border-radius: 0 0 10px 10px; */
  z-index: 6000;
  top: 0px;
  left: 0;
  transition: top 0.3s ease-in-out;

  height: 4rem;
  width: 100vw;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0px 1rem; */
  background: rgba(0, 0, 0, 0.300);
  backdrop-filter: blur(4px);
  transition: background 0.45s ease 0s;
}

header {
  height: 4.1rem;
  background-color: var(--primary-color-3);
}

.header {
  padding: 0 !important;
  margin: 0 !important;
}

.home-head-page-container {
  /* background-color: rgba(155, 155, 155, 0.6); */
  background-color: var(--primary-color-5);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
  /* border-radius: 8px; */
  /* margin: -20px 0 0 0; */
  /* padding: 40px 20px; */
  /* display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  height: 88vh; */
  /* border-radius: 15px; */

  /* background-color: #ffffff05;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px); */
}

.home-page-container {
  /* margin: 0; */
  margin: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
}

/* home Section Styles END */
main {
  line-height: 1.7;
  min-width: 200px;
  max-width: 100vw;
  margin: 0;
  padding: 0px;
  background-color: var(--primary-color-4);
}

section {
  text-align: left;
  margin: 0;
  padding: 0px;

  /* background-color: #000000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px); */
}

.container {
  /* min-height: 100vh; */
  max-height: auto;
  border-radius: 8px;
  padding: 40px 20px;
  margin: 20px 0;
  box-shadow: var(--secondary-color-white-1);
  background-color: var(--primary-color-5);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

/* BUTTOn */
/* BUTTOn End */

/* Heading Styles */
h1 {
  -webkit-text-stroke: 2px transparent;
  -webkit-text-fill-color: var(--secondary-color-1-2);
  color: var(--secondary-color-1);
  font-weight: 900;
  font-size: 3em;
}

h2 {
  font-weight: 800;
  -webkit-text-stroke: 2px var(--secondary-color-1-2);
  -webkit-text-fill-color: transparent;
  color: var(--secondary-color-2);
  font-size: 36px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  /* margin-bottom: 20px; */
  text-align: center;
  margin: 20px auto 40px;
  text-transform: uppercase;
}

h3 {
  color: var(--secondary-color-3);
  /* Secondary color 2 or your choice */
  font-size: 24px;
  margin-bottom: 10px;
  font-size: 28px;
  margin-bottom: 15px;
}

h4 {
  color: var(--secondary-color-4);
  /* Secondary color 1 or your choice */
  font-size: 20px;
}

h5 {
  color: var(--secondary-color-5);
  /* Dark text color for contrast */
  font-size: 18px;
}

h6 {
  color: var(--secondary-color-6);
  /* Dark text color for contrast */
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondary-color-7);
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: var(--secondary-color-20);
}

/* ----------------------------------------********--------------------------- */
/* Custom CSS for the about.html page */
/* about Section Styles START */
.about {
  /* margin: 30px 0 20px 0 !important; */
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

/* Section Heading Styles */
.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.about p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Section Content Styles */
.about-content {
  display: flex;
  align-items: flex-start;
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  transition: all 250ms linear;
}

/* Profile picture styles */
.about-content img {
  max-width: 200px;
  border-radius: 50%;
  margin-right: 20px;
  padding: 0vh 0vw;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid rgb(135, 57, 250);
  box-shadow: var(--secondary-color-20);
  flex: 1;
  box-sizing: border-box;
  animation: border-transform 7s linear infinite;
  transition: top 0.3s ease;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.300);
  background: rgba(0, 0, 0, 0.0);
  overflow: hidden;
}

.personal-info {
  flex: 1;
  box-sizing: border-box;
}

/* Personal info styles */
.personal-info h3 {
  font-size: 24px;
  margin-bottom: 10px;

  font-size: 28px;
  margin-bottom: 15px;
}

.personal-info p {
  font-size: 18px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.about-section {
  padding: 0 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .about-container {
    padding: 10px;
    width: 100%;
  }

  .about img {
    max-width: 150px;
    margin-bottom: 10px;

    max-width: 100%;
  }

  .personal-info h3 {
    font-size: 20px;
  }

  .personal-info p {
    font-size: 16px;
  }

  .about h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .about p {
    font-size: 16px;
  }

  .about-container .btn a {
    padding: 12px 24px;
    font-size: 18px;
  }

  .about-container .btn button {
    padding: 12px 24px;
    font-size: 18px;
  }

  .btn {
    display: block;
    width: 100%;
  }
}

/* Profile Picture Styles */
.about-content img {
  max-width: 200px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Additional Section Styles */
.about-section:last-child {
  margin-bottom: 0;
}

/* Dark Theme Styles */
.dark-theme {
  background-color: #333;
  color: #fff;
}

.dark-theme a {
  color: #66c0f4;
}

.dark-theme a:hover {
  color: #61a1d8;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .about-container {
    padding: 10px;
  }

  .about img {
    max-width: 150px;
    margin-bottom: 10px;
  }

  .personal-info h3 {
    font-size: 20px;
  }

  .personal-info p {
    font-size: 16px;
  }

  .about h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .about p {
    font-size: 16px;
  }

  .about-container .btn a {
    padding: 12px 24px;
    font-size: 18px;
  }

  /* Additional styles for smaller screens */
  .about-section {
    margin-bottom: 20px;
  }
}

.button-container {
  display: inline-flex;
  /* Ya display: inline-block; */
}

.btn {
  margin-right: 10px;
  /* Optional: Add some margin between buttons */
}

/* about Section Styles END */
/* ----------------------------------------********--------------------------- */
/* Styles for the 404 Error section START */
.error-404 {
  justify-content: center;
  align-items: center;
}

.error-content {
  border-radius: 5px;
  padding: 40px;
  box-shadow: var(--secondary-color-21);
}

/* 404 Error Styles END */
/* ----------------------------------------********--------------------------- */
/* resume Section Styles START */

/* Custom CSS for the resume.html page */
.resume-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--secondary-color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

#resume .container {
  background: linear-gradient(rgba(237, 137, 70, 0.5), rgb(114 43 243 / 50%)),
    url(your-image.jpg);

  border-radius: 10px;
  padding: 20px;
  color: var(--secondary-color-white);

  background-color: #ffffff05;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
}

.resume-item h2 {
  color: var(--secondary-color-2);
  font-size: 28px;
  margin-bottom: 20px;
}

.resume-item p {
  font-size: 16px;
  line-height: 1.6;
}

/* Resume section styles */
.resume-item {
  margin-bottom: 30px;
}

.resume-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.resume-item ul {
  list-style: none;
  padding: 0;
}

.resume-item li {
  margin-bottom: 10px;
}

.resume-item h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

/* Button styles */
.resume-item button {
  background-color: var(--secondary-color-8);
  color: var(--secondary-color-white);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color-9);
}

/* resume Section Styles END */
/* ----------------------------------------********--------------------------- */
/* services Section Styles START */
/* Style the service section */
#services {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("your-background-image.jpg");
  background: linear-gradient(to bottom, #ffffff, #ff0000); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
}

/* Global styles for the container */
#services .container {
  /* background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(251, 255, 0, 0.2)),
    url("your-image.jpg"); */
  position: relative;
  z-index: 1;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 auto;
  /* padding: 20px; */
}

/* Style the service scroll container */
.service-scroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

/* Style individual service items */
.service-item {
  position: relative;
  flex-basis: calc(45.3333% - 45px);
  flex-basis: calc(40% - 10px);
  flex-basis: calc(25% - 10px);
  margin: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: var(--primary-item-box-shadow);
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ddd;
  width: calc(33.333% - 20px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: center;
  perspective: 1000px;
  backface-visibility: hidden;
  background-color: var(--primary-color-6);
}

/* Add hover effect to the outer card */
.service-item:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: flip 0.3s ease-in-out;
  transform: translateY(-5px);
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
  background: linear-gradient(var(--secondary-color-27),
      var(--secondary-color-28));
}

/* Style the icons */
.service-item i {
  font-size: 48px;
  color: var(--secondary-color-8);
  transition: transform 0.3s ease-in-out;
  font-size: 4rem;
  margin: 20px 0 10px 0;
}

.service-item:hover i {
  transform: translateY(-50%);
  /* Move the icon upward on hover */
}

/* Style the card title */
.service-item h3 {
  color: var(--secondary-color-3);
  font-size: 18px;
  margin: 15px 0;
  margin-bottom: 15px;
}

/* Style the card description */
.service-item p {
  font-size: 14px;
  color: #505050;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

/* Style the card images */
.service-item img {
  width: 100px;
  max-width: 100%;
  height: 100px;
  height: auto;
  margin-bottom: 20px;
  /* Ensure images maintain their aspect ratio */
}

/* Add CSS styles for before and after pseudo-elements */
.service-item::before,
.service-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
  background: #00ffb3;
}

/* Style for overlay image */
.service-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 123, 255, 0.2);
  background: linear-gradient(to top,
      var(--secondary-color-27),
      var(--secondary-color-28));
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.service-item::after {
  bottom: 0;
  /* right: 0; */
}

.service-item:hover::before,
.service-item:hover::after {
  width: 100%;
}

/* Add image on half of the item */
.service-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: url("/static/images/testimonial-image-1.jpg") center center no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  /* Initially hide the image */
}

.service-item:hover .service-image {
  transform: translateX(0);
  /* Move the image into view on hover */
}

/* Style the service icons */
.service-icon {
  font-size: 48px;
  color: var(--secondary-color-18);
  margin-bottom: 20px;
}

/* Style for the icon color on hover */
.service-item:hover .service-icon {
  color: #ff6347;
}

/* Show overlay image on hover */
.service-item:hover::before {
  opacity: 1;
}

/* Style the service content */
.service-content {
  padding: 0;
  margin: 0;
  border-radius: 10px;
  width: 100%;
  height: 10rem;
  background-color: var(--secondary-color-19);
}

/* .service-item:hover .service-content {
  transform: scale(1.1);
  object-fit: cover;
  transition: transform 1s ease;

} */

/* Style the image overlay */
.image-overlay {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -10px;
  aspect-ratio: 16/9;
  transition: transform 0.3s ease;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  background-color: var(--secondary-color-9);
  opacity: 0.9;
}

.service-item:hover .image-overlay {
  transform: scale(1.1);
  object-fit: cover;
  transition: transform 0.3s ease;
  transition-delay: 0.7s;
  transition-property: all;
  background-color: var(--secondary-color-28);
  opacity: 1;
}

.image-overlay img {
  width: 100%;
  height: auto;
  height: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

/* Add hover effect to the image */
.image-overlay:hover img {
  transform: scale(1.1);
}

/* Define the flip animation */
/* @keyframes flip {
  0% {
      transform: rotateY(0deg);
  }

  100% {
      transform: rotateY(180deg);
      transition: transform 0.3s ease;
      transition-delay: 3s;
      transition-property: all;
  }
  0% {
      transform: rotateY(0deg);
  }
} */

/* Add CSS styles for the Services section */

/* Media query for responsiveness */
@media (max-width: 1400px) {
  .service-item {
    flex-basis: calc(20% - 15px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 1300px) {
  .service-item {
    flex-basis: calc(25% - 10px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 1218px) {
  .service-item {
    flex-basis: calc(25% - 0px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 1000px) {
  .service-item {
    flex-basis: calc(40% - 0px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 800px) {
  .service-item {
    flex-basis: calc(40% - 10px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 765px) {
  .service-item {
    flex-basis: calc(40% - 20px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 665px) {
  .service-item {
    flex-basis: calc(100% - 0px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 500px) {
  .service-item {
    flex-basis: calc(100% - 20px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

/* Style the inner card content */
.service-item .inner-card {
  padding: 0;
  margin: 0;
  width: 100%;
  /* height: 100%; */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 20px;
}

/* Apply a 3D transformation on hover */
.service-item .inner-card:hover {
  transform: rotateY(180deg);
}

.service-item:hover .inner-card {
  /* transform: rotateY(360deg); */
  transform: rotateY(180deg);
}

.service-item .front,
.service-item .back {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 0;
  justify-content: space-evenly;
}

/* Style the front and back of the card */
.service-item .front {
  position: absolute;
}

.service-item .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: relative;
}

/* Style the card content */
.service-item .inner-card h3,
.service-item .inner-card p {
  margin: 0;
  padding: 0;
}

/* services Section Styles END */
/* ----------------------------------------********--------------------------- */
/* skills Section Styles START */
.skills {}

.skills-list {
  /* background-color: var(--primary-color-5); */
  color: var(--secondary-color-7);
  padding: 10px;
  text-align: center;
}

.skill {
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #c5c5c5;
  background-color: var(--primary-color-6);
  border-radius: 10px;
  box-shadow: var(--primary-item-box-shadow);
  position: relative;
}

.skill-description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.7s ease-in-out, max-height 0.3s ease;
  /* Smooth transitions for opacity and max-height */
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  /* top: 100%; */
  /* left: 0; */
  z-index: 1;
}

.progress {
  background-color: var(--secondary-color-16);
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.bar {
  width: 0;
  height: 100%;
  background-color: var(--secondary-color-8);
  text-align: right;
  line-height: 20px;
  color: var(--secondary-color-white);
  border-radius: 5px;
}

.percentage {
  display: inline-block;
  width: 30px;
  text-align: center;
  margin-left: 5px;
  color: var(--secondary-color-9);
  /* Customize the percentage color */
}

.skill:hover .skill-description {
  opacity: 1;
  max-height: 1000px;
  /* Set a large enough value for max-height to accommodate the content */
  /* position: relative; */

  /* Display description on hover */
}

/* skills Section Styles END */
/* ----------------------------------------********--------------------------- */
/* projects Section Styles START */
/* Styling for the information section */
.information {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--secondary-color-white-1);
  background-color: var(--secondary-color-white-1);
  color: var(--secondary-color-7);
}

/* Styling for the tabs */
.tabs {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  align-self: flex-end;
  grid-column: 1 / span 2;
  grid-row: 2;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .tabs {
    grid-column: 1 / span 1;
    grid-row: 3;
  }
}

.tab-link {
  padding: 5px;
  background-color: var(--secondary-color-white-1);
  border: none;
  cursor: pointer;
}

.tab-link.active {
  background-color: #bbb;
}

/* Styling for tab content */
.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: var(--secondary-color-9);
  width: 100%;
}

.note {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: var(--secondary-color-9);
}

/* Styling for the map */
#map {
  width: 100%;
  height: 40px;
}

.projects {
  color: black;
}

/* projects Section Styles END */
/* ----------------------------------------********--------------------------- */
/* portfolio Section Styles START */
.portfolio {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
}

.portfolio .container {
  /* background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(114, 43, 243, 0.78)); */
  position: relative;
  padding: 0 auto;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.portfolio-item {
  align-items: center;
  text-align: center;
  background-color: var(--primary-color-6);
  border: 1px solid #ddd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: var(--primary-item-box-shadow);
  padding: 20px;
  /* margin: 15px; */
  margin-bottom: 20px;
  border-radius: 10px;
  min-width: 40%;
  max-width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  /* flex: 30rem; */
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  width: calc(33.333% - 30px);
  /* Adjust the width as needed */
  margin: 15px;
  transition: transform 0.3s ease;
}

/* Add hover effect to the outer card */
.portfolio-item:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: flip 0.3s ease-in-out;
  transform: translateY(-5px);
  /* transform: rotateY(180deg); */
  /* transform: rotateY(360deg); */
  transition: transform 0.5s ease-in-out;
}

/* Style the item description */
.portfolio-item p {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--secondary-color-7);
}

/* Style the item images */
.portfolio-item img {
  display: block;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 20px;
}

.portfolio-item::after,
.portfolio-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
  background: #00ffb3;
}

/* Style for overlay image */

.portfolio-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,
      var(--secondary-color-33),
      var(--secondary-color-32));
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.portfolio-item::after {
  bottom: 0;
  right: 0;
}

.portfolio-item:hover:before,
.portfolio-item:hover:after {
  width: 100%;
}

/* Media query for screens smaller than 768px (e.g., smartphones) */
@media screen and (max-width: 768px) {
  .portfolio-item {
    padding: 10px;
    margin-bottom: 10px;
  }

  .portfolio-item img {
    max-width: 100%;
  }
}

/* Show overlay image on hover */
.portfolio-item:hover::before {
  opacity: 1;
}

/* .service-item:hover .service-content {
  transform: scale(1.1);
  object-fit: cover;
  transition: transform 1s ease;

} */

/* Style the image overlay */
.portfolio-image-overlay {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* margin-top: -10px; */
  aspect-ratio: 16/9;
  transform: scale(1);
  /* No zoom */
  object-fit: cover;
  transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  background-color: var(--secondary-color-9);
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 100%;
  height: auto;
  display: block;
}

.portfolio-item:hover .portfolio-image-overlay {
  transform: scale(1.1);
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition-delay: 0.7s;
  transition-property: all;
  background-color: var(--secondary-color-26);
  opacity: 1;
}

.portfolio-image-overlay img {
  width: 100%;
  height: auto;
  height: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

/* Add hover effect to the image */
.portfolio-image-overlay:hover img {
  transform: scale(1.1);
}

/* Define the flip animation */
/* @keyframes flip {
  0% {
      transform: rotateY(0deg);
  }

  100% {
      transform: rotateY(180deg);
      transition: transform 0.3s ease;
      transition-delay: 3s;
      transition-property: all;
  }
  0% {
      transform: rotateY(0deg);
  }
} */

/* Add CSS styles for the Services section */

/* Media query for responsiveness */
@media (max-width: 1400px) {
  .portfolio-item {
    flex-basis: calc(20% - 15px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 1300px) {
  .portfolio-item {
    flex-basis: calc(25% - 10px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 1218px) {
  .portfolio-item {
    flex-basis: calc(25% - 0px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 1000px) {
  .portfolio-item {
    flex-basis: calc(40% - 0px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 800px) {
  .portfolio-item {
    flex-basis: calc(40% - 10px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 765px) {
  .portfolio-item {
    flex-basis: calc(40% - 20px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 665px) {
  .portfolio-item {
    flex-basis: calc(100% - 0px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

@media (max-width: 500px) {
  .portfolio-item {
    flex-basis: calc(100% - 20px);
    width: 100%;
    /* Make the cards full-width on smaller screens */
  }
}

/* portfolio Section Styles END */
/* ----------------------------------------********--------------------------- */
/* Blog Section Styles START */
#blog {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

@media screen and (max-width: 568px) {
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    align-items: center;
  }
}

.blog-item {
  text-align: left;
  background-color: #fff;
  /* Add a background color for each blog item */
  padding: 20px;
  border-radius: 8px;
  /* Add some rounded corners for aesthetics */
  box-shadow: var(--primary-item-box-shadow);
  /* Add a subtle box shadow for depth */
  transition: transform 0.3s ease-in-out;
  /* Add a smooth transition effect */
}

.blog-item:hover {
  transform: translateY(-5px);
  /* Add a slight lift effect on hover */
}

.blog-item img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  /* Add rounded corners to images */
  aspect-ratio: 16/9;
  object-fit: cover;
}

.blog-item h3 {
  margin-bottom: 10px;
  color: var(--secondary-color-3);
  /* Darken the heading color for better readability */
}

.blog-item p {
  color: var(--secondary-color-7);
  margin-bottom: 20px;
}

.blog-item a {
  color: var(--secondary-color-6);
  text-decoration: none;
}

.blog-item a:hover {
  text-decoration: underline;
}

/* Blog Section Styles END */
/* ----------------------------------------********--------------------------- */
/* contact Section Styles START */

#contact {
  /* margin: 50px auto; */
  padding: 20px;
  /* background-color: var(--primary-color-6); */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: auto !important;
}

#contact .container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  display: block;
  padding: 10px 20px;
  background-color: var(--secondary-color-2);
  border: none;
  color: var(--secondary-color-white);
  border-radius: 4px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px;
}

.form-group button {
  padding: 10px 20px;
  background-color: var(--secondary-color-2);
  border: none;
  color: var(--secondary-color-white);
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: var(--secondary-color-17);
}

/* contact Section Styles END */
/* ----------------------------------------********--------------------------- */

/* Social_Media Styles START */
/* Styles for the service scroll container */
logo-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  max-width: 100%;

  display: flex;
  overflow: hidden;
  width: 300px;
}

logo-slider {
  --min-image-size: 50px;
  --max-image-size: 100px;
  --image-size: var(--max-image-size);
  /* Rest of your CSS styles as provided earlier */
}

/* Additional styles for slider container */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  max-width: 100%;

  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: var(--secondary-color-white);
  border-radius: 5px;
  text-align: center;
  box-shadow: var(--secondary-color-22);
  transform: translateX(0%);
  transition: transform 2s ease-in-out;
}

.slider-container img {
  margin: 0 5px;
  /* Margin between images */
  width: 200px;
  height: auto;
}

/* Additional styles for slider dots */
.slider-dots {
  text-align: center;
  margin-top: 10px;
}

.slider-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--secondary-color-10);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots span.active {
  background-color: var(--secondary-color-11);
}

/* Social_Media Styles END */
/* ----------------------------------------********--------------------------- */
/* ----------------------------------------********--------------------------- */
/* Testimonial Styles START */

#testimonials {
  text-align: center;
}

.testimonial-item {
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-item h4 {
  margin-bottom: 10px;
}

.testimonial-item span {
  display: block;
  font-style: italic;
  color: var(--secondary-color-10);
}

/* Testimonial Styles END */
/* ----------------------------------------********--------------------------- */
/* Resetting default styles */
/* Team Section styles START */

/* Add your global styles here */

.team-section {
  text-align: center;
}

/* Container styles */
.team-container {
  max-width: 1200px;
  /* margin: 0 auto; */
}

#team {
  text-align: center;
}

.swiper-container {
  margin-bottom: 40px;
  position: relative;
  /* Hide Swiper Grab Cursor */
  cursor: -webkit-grab;
  cursor: grab;
  /* overflow: hidden; */
}

.team-member {
  margin-bottom: 40px;
  transition: transform 0.3s ease-in-out;

  /* text-align: left; */
  background-color: #fff;
  /* Add a background color for each blog item */
  padding: 20px;
  border-radius: 8px;
  /* Add some rounded corners for aesthetics */
  box-shadow: var(--primary-item-box-shadow);
  /* Add a subtle box shadow for depth */
  transition: transform 0.3s ease-in-out;
  /* Add a smooth transition effect */
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: var(--primary-item-box-shadow);
}

.team-member h4 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #333;
}

.team-member span {
  color: #777;
  font-size: 1.2rem;
}

/* Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background-color: #ffffff;
  /* color: #fff; */
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* justify-content: center;
  align-items: center;
  align-content: stretch;
  width: calc(var(--swiper-navigation-size) / 20 * 27);
  height: var(--swiper-navigation-size); */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #f98686;
  background-color: #007bff;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Add this CSS to your existing styles */

/* Swiper Slide Styles */
.swiper-slide {
  /* overflow: hidden; */
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 30px;
  transform: translateZ(0);
  /* Add this to force hardware acceleration */
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: inline-flex !important;
  justify-content: space-evenly;
  flex: 0 0 auto;
  justify-content: center;

  display: inline-flex;
  flex: 0 0 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, -1fr));
  grid-gap: 30px;
  align-items: stretch;
  justify-items: stretch;
}

/* Hide Black Line During Transition */
.swiper-container::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  /* Adjust box-shadow as needed */
  transition: box-shadow 0.3s ease;
  /* Add a smooth transition effect */
}

.swiper-container .swiper-container-vertical::after {
  left: 0;
  right: 0;
  width: 10px;
  /* Adjust the width for vertical swiper */
  width: 20px;
  /* Adjust width as needed */
  width: 100%;
  height: 100%;
  height: 20px;
  /* Adjust height as needed */
}

/* Hide Shadow on Hover */
.swiper-container:hover::after {
  box-shadow: none;
}

/* Add this CSS to your existing styles */

/* Fix Black Line During Transition */
.swiper-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Adjust the shadow as needed */
  pointer-events: none;
  z-index: 1;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 10;
  /* Ensure buttons are above the shadow */
}

/* Team Section styles END */

/* ----------------------------------------********--------------------------- */
/* Resetting default styles */

.features {
  margin: 0;
  padding: 0;
}

/* Container styles */
.pricing-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Pricing Section styles START */
#pricing {
  text-align: center;
}

.pricing-table {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pricing-card {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: var(--primary-item-box-shadow);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  flex: 1;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pricing-card:hover {
  transform: translateY(-5px);
}

/* Pricing Card content styles */
.pricing-card h3 {
  margin-bottom: 10px;
  color: #007bff;
  font-size: 1.5rem;
}

.pricing-card p.price {
  font-size: 24px;
  margin-bottom: 20px;
  color: #28a745;
  font-weight: bold;
}

.pricing-card ul.features {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

.pricing-card ul.features li {
  margin-bottom: 5px;
  color: #555;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .pricing-table {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    max-width: 100%;
  }
}

/* Pricing Section styles END */

/* ----------------------------------------********--------------------------- */
/* Terms of Service Styles START */

#terms-of-service {
  text-align: center;
}

.terms-content {
  max-width: 700px;
  margin: 0 auto;
}

/* Terms of Service Styles END */
/* ----------------------------------------********--------------------------- */
/* Maintenance Styles START */

#maintenance {
  text-align: center;
}

.maintenance-content {
  max-width: 500px;
  margin: 0 auto;
}

.maintenance-content p {
  margin-bottom: 20px;
}

/* Maintenance Styles END */
/* ----------------------------------------********--------------------------- */
/* FAQ Styles START */

#faq {
  text-align: center;
}

.faq-container {
  /* max-width: 800px; */
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  font-weight: bold;
  color: #2c3e50;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  background-color: #ecf0f1;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-question:hover {
  background-color: #bdc3c7;
}

.toggle-icon {
  font-size: 18px;
  transition: transform 0.3s ease;

  display: inline-block;
  transform-origin: center;
}

.faq-answer {
  display: none;
  color: #34495e;
  /* padding: 15px; */
  padding: 0 15px;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, padding 0.3s ease;

  /* border-bottom: 2px solid #c7c3bd; */
  /* opacity: 0; */
  animation: fadeIn 0.5s ease, slideDown 0.5s ease;
}

.faq-answer p {
  margin: 10px 0;
}

.faq-answer.active {
  display: block;
  max-height: 1000px;
  padding: 15px;
  transition: max-height 0.5s ease, padding 0.3s ease;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Slide-down animation */
@keyframes slideDown {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

.faq-question.active {
  animation: fadeIn 0.5s ease, slideDown 0.5s ease;
}

/* Accordion style */
.faq-question.active {
  border-bottom: 2px solid #bdc3c7;

  background-color: #3498db;
  color: #fff;

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.faq-question.active .faq-answer {
  max-height: 1000px;
  opacity: 1;
}

/* Icon */
.toggle-icon::before {
  content: "\25BC";
  /* Unicode character for down-pointing triangle */
}

.faq-question.active .toggle-icon::before {
  transform: rotate(90deg);
}

/* FAQ Styles END */

/* ----------------------------------------********--------------------------- */

/* ----------------------------------------********--------------------------- */
/* ----------------------------------------********--------------------------- */
/* ----------------------------------------********--------------------------- */
/* 
  @media screen and (max-width: 991px) {
    
    .menu-icon:checked+label,
    .menu-icon:not(:checked)+label {
      right: 55px;
    }
    
    .logo {
      left: 30px;
    }
  
    .nav {
      right: 30px;
    }
  
    h1 {
      font-size: 9vw;
      -webkit-text-stroke: 2px transparent;
      text-stroke: 2px transparent;
      -webkit-text-fill-color: #ffeba7;
      text-fill-color: #ffeba7;
      color: #ffeba7;
    }
  
    .nav ul li a {
      font-size: 8vh;
    }
  } */
/* ... (Other existing styles) ... */

/* Global Styles */

/* Resetting some default styles */

.article-container {
  overflow: visible;
}

#article-blog {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
}

.article-list-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #007bff;
}

.article-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  overflow: hidden;
}

.article-item {
  text-align: left;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: var(--primary-item-box-shadow);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: visible;
}

.article-item:hover {
  transform: translateY(-5px);
}

.article-title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #343a40;
}

.article-details {
  color: #555;
}

.article-author,
.article-date {
  margin-bottom: 5px;
}

.article-description {
  margin-bottom: 15px;
  line-height: 1.4;
}

.all-articles-link {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.all-articles-link a {
  color: #28a745;
  text-decoration: none;
  font-weight: bold;
}

.all-articles-link a:hover {
  text-decoration: underline;
}

.article-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.article-content {
  flex: 1;
}

.all-articles-link button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

/* Existing styles */

@media (max-width: 768px) {
  .article-list {
    grid-template-columns: 1fr;
  }

  .article-item {
    padding: 15px;
  }

  .article-content {
    max-height: none;
    overflow: visible;
  }

  .article-details {
    max-height: none;
    overflow-y: visible;
  }
}

/* Custom styles for screens up to 925px wide */
@media (max-width: 925px) {
  .article-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Custom styles for screens up to 600px wide */
@media (max-width: 600px) {
  .article-list-title {
    font-size: 24px;
  }

  .article-title {
    font-size: 20px;
  }

  .article-description {
    font-size: 14px;
  }

  /* Add more styles as needed */
}

/* Custom styles for screens up to 480px wide */
@media (max-width: 480px) {
  .article-list-title {
    font-size: 20px;
  }

  .article-title {
    font-size: 18px;
  }

  .article-description {
    font-size: 12px;
  }

  /* Add more styles as needed */
}