{% extends 'base.html' %}

{% block content %}


<!-- ... Pricing Section Start ... -->
<section id="pricing">
    <div class="pricing-container container">

        <h2>Pricing</h2>
        <div class="pricing-table">

            <div class="pricing-card">
                <h3>Basic</h3>
                <p class="price">$19.99/month</p>
                <ul class="features">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                </ul>
                <a href="#" class="btn"><button>Get Started</button></a>
            </div>

            <div class="pricing-card">
                <h3>Standard</h3>
                <p class="price">$39/month</p>
                <ul class="features">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                    <li>Feature 4</li>
                </ul>
                <a href="#" class="btn"><button>Get Started</button></a>
            </div>

            <div class="pricing-card">
                <h3>Pro</h3>
                <p class="price">$29.99/month</p>
                <ul class="features">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                    <li>Feature 4</li>
                    <li>Feature 5</li>
                </ul>
                <a href="#" class="btn"><button> Get Started</button></a>
            </div>

            <!-- Add more pricing cards as needed -->
        </div>
    </div>
</section>
<!-- ... Pricing Section End ... -->


{% endblock content %}