{% extends 'base.html' %}

{% block content %}


    <!-- ... Terms-of-service Section Start ... -->
    <section id="terms-of-service">
        <div class="container">
            <h2>Terms of Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, libero a dignissim dictum, nunc justo semper tortor, nec ullamcorper urna massa at est.</p>
            <a href="terms-of-service.html" class="btn">Read More</a>
        </div>
    </section>

    <section id="maintenance">
        <div class="container">
            <h2>Maintenance</h2>
            <p>The website is currently undergoing maintenance. We apologize for any inconvenience caused.</p>
        </div>
    </section>

    <!-- ... Terms-of-service Section End ... -->



{% endblock content %}