{% extends 'base.html' %}

{% block content %}


<!-- ... Testimonials Section Start ... -->
<section id="testimonials">
    <div class="container">
        <h2>Testimonials</h2>
        <div class="testimonial-item">
            <img src="/static/images/testimonial-image-1.jpg" alt="Client Image 1" />
            <blockquote>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nunc justo. Aliquam erat
                    volutpat."
                </p>
                <cite>Client Name</cite>
                <h4>John Doe</h4>
                <span>CEO, Company XYZ</span>
            </blockquote>
        </div>
        <div class="testimonial-item">
            <img src="/static/images/testimonial-image-2.jpg" alt="Client Image 2" />
            <blockquote>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nunc justo. Aliquam erat
                    volutpat."
                </p>
                <cite>Client Name</cite>
                <h4>Jane Smith</h4>
                <span>Marketing Manager, Company ABC</span>
            </blockquote>
        </div>
        <!-- Add more testimonials as needed -->
    </div>
</section>
<!-- ... Testimonials Section End ... -->



{% endblock content %}